<div class="callToAction" *ngIf="!isPlaying">
  <div class="callToActionText">Press 'SPACE' to play</div>
</div>
<div class="game-zone" [ngStyle]="{ display: isPlaying ? 'flex' : 'none' }">
  <div class="track" #track></div>
  <div class="receptor"></div>
  <div class="keys">
    <div class="key-c"><div class="letter-down">C</div></div>
    <div class="key-f"><div class="letter-up">F</div></div>
    <div class="key-v"><div class="letter-down">V</div></div>
    <div class="key-g"><div class="letter-up">G</div></div>
    <div class="key-b"><div class="letter-down">B</div></div>
  </div>
</div>
