<div class="callToAction" *ngIf="!isPlaying">
  <div class="callToActionText">Press 'SPACE' to play</div>
</div>
<div class="game-zone" [ngStyle]="{ display: isPlaying ? 'flex' : 'none' }">
  <div class="track" #track>
    <div class="combo" *ngIf="combo > 4">{{combo}}</div>
  </div>
  <div class="receptor"></div>
  <div class="keys">
    <div class="key-s"><div class="letter-down">S</div></div>
    <div class="key-d"><div class="letter-up">D</div></div>
    <div class="key-f"><div class="letter-down">F</div></div>
    <div class="key-g"><div class="letter-up">G</div></div>
    <div class="key-h"><div class="letter-down">H</div></div>
  </div>
</div>
